@model IEnumerable<IdentityToDoList.Models.TodoListViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Add new todo item</a>
</p>
<p>
    Number of user tasks: @ViewBag.Message
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Content
            </th>
            <th>
                Datetime
            </th>
            <th>
                Priority
            </th>
            <th>
                Lead Time
            </th>
            <th>
                Start/Stop
            </th>
            <th>
                Progress
            </th>
            <th>
                Edit/Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Content
                </td>
                <td>
                    @item.Datetime
                </td>
                <td>
                    @item.Priority
                </td>
                <td>
                    @item.LeadTime h
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Start" asp-route-id="@item.Id">Start</a> |
                    <a id="PlaceHolderHere" class="btn btn-primary btn-sm" data-toggle="ajax-modal" data-url="@Url.Action("Stop")">Stop</a>
                </td>
                <td>
                    <div class="progress">
                            <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <div id="label" class="control-label">@item.LeadTime h</div>
                            </div>
                    </div>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>