@model IEnumerable<IdentityToDoList.Models.TodoListViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Add new todo item</a>
</p>
<p>
    Number of user tasks: @ViewBag.Message
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Content
            </th>
            <th>
                Datetime
            </th>
            <th>
                Priority
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Content
                </td>
                <td>
                    @item.Datetime
                </td>
                <td>
                    @item.Priority
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
