@model IEnumerable<IdentityToDoList.Models.TodoListViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Add new todo item</a>
</p>
<p>
    Number of user tasks: @ViewBag.Message
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Content
            </th>
            <th>
                Datetime
            </th>
            <th>
                Priority
            </th>
            <th>
                Lead Time
            </th>
            <th>
                Start/Stop
            </th>
            <th>
                Progress
            </th>
            <th>
                Edit/Delete
            </th>
            <th>
                Message
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Content
            </td>
            <td>
                @item.Datetime
            </td>
            <td>
                @item.Priority
            </td>
            <td>
                @item.LeadTime h
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Start" asp-route-id="@item.Id">Start</a> |
                <a class="btn btn-primary btn-sm" asp-action="Stop" asp-route-id="@item.Id">Stop</a>
            </td>
            <td>
                <div class="progress">
                       @item.SpendTime
                </div>
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Message" asp-route-id="@item.Id">Message to admin</a>
            </td>
        </tr>
        }
    </tbody>
</table>