@model IEnumerable<IdentityToDoList.Models.TodoListViewModel>

@{
    ViewData["Title"] = "Index";
}
        <p>
            <a asp-action="Create">Add new todo item</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Content
                    </th>
                    <th>
                        Datetime
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Lead Time
                    </th>
                    <th>
                        Spend Time
                    </th>
                    <th>Edit</th>
                    <th>Users</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Content
                    </td>
                    <td>
                        @item.Datetime
                    </td>
                    <td>
                        @item.Priority
                    </td>
                    <td>
                        @item.LeadTime h
                    </td>
                    <td>
                        @item.SpendTime
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Message
                    </td>
                </tr>
                }
            </tbody>
        </table>
