@model IEnumerable<IdentityToDoList.Models.TodoListViewModel>

@{
    ViewData["Title"] = "CompletedTasks";
}
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Content
                    </th>
                    <th>
                        Datetime
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Lead Time
                    </th>
                    <th>Users</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Content
                    </td>
                    <td>
                        @item.Datetime
                    </td>
                    <td>
                        @item.Priority
                    </td>
                    <td>
                        @item.LeadTime h
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Message
                    </td>
                </tr>
                }
            </tbody>
        </table>
